<form method="POST" action="{{ site.comment_api }}">
  <input name="options[redirect]" type="hidden" value="https://my-site.com">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <input type="hidden" id="comment-replying-to" name="fields[replying_to_uid]" value="">
  <label>Message:</br><textarea name="fields[message]" rows="4" cols="80" placeholder="leave your comment here."></textarea></label>
  </br>
  <label>Name: <input name="fields[name]" type="text"></label>
  </br>
  <button type="submit">Submit</button>
</form>