---
---

@import "{{ site.theme }}";

.wrapper {
	width: inherit;
}

.header {
	width: 90%;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

body {
	font-size: 20px;
	line-height: 1.2em
}

sup {
	vertical-align: super;
	font-size: smaller;
}
